.container {
    display: flex;
    padding: 50px;
}

.container div {
    display: flex;
    height: 100px;
    width: 100px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 5px 5px 10px #aaaaaa;
}

.textDecorationHome {
    text-decoration: none;
}
